body{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: rgb(51, 0, 109);
}
#logo{
    width:100px;
    height: 100px;
    float: left;
    color: transparent;
}

.underline{
    width: 100px;
    height: 5px;
    background: linear-gradient(to right,white, rgb(140, 0, 255));
    margin: auto;
}
hr{
    width:30%;
}
